@tailwind base;
@tailwind components;
@tailwind utilities;

/* global.css veya style.css */
.cookie-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.cookie-message p {
  margin: 0;
}

.cookie-link {
  color: #4fc3f7;
  text-decoration: none;
}

.cookie-link:hover {
  text-decoration: underline;
}

.cookie-button {
  background-color: #4fc3f7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cookie-button:hover {
  background-color: #03a9f4;
}
